
page-inicio {
.logoTipo{
    width: 100%;
    height: 300px;
}
<<<<<<< HEAD
}
.button-clear-ios{
    margin-left: 39%;
    margin-top: 2%;
}

.texto>h1{
    margin-top: 13%;
    margin-left: 30%;
    color: red;
    font-size: 180%;
}

.texto2>h3{
    margin-top: 8%;
    margin-left: 20%;
    color: red;
    font-size: 180%;
}
=======
}
>>>>>>> a193ddea5de82d8e8962d70e4090830c9a34c0bf
